* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gridDivVert {
    position: relative;
    border: 1px solid black;
    width: 16.66%;
    height: 16.66%;
    display: flex;
}
.gridDivHori {
    position: relative;
    border: 1px solid black;
    width: 16.66%;
    height: 16.66%;
}
#gridCont {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    width: 200px;
    height: 35px;
    margin-bottom: 5px;
}