* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.gridDivVert {
    display: flex;
}
#gridCont {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid black;
}
button {
    width: 200px;
    height: 35px;
    margin-bottom: 5px;
}